@media only screen and (max-width: 600px) {
    .card {
      width: 100vw;
      position: relative;
      float: right;
      font-size: 10px;
    }
    .text{
        font-size: 6vw;
        position: relative;
        float: right;
    }

    .text-1{
        font-size: 4vw;
        position: relative;
        text-align: center;
    }

    .con{
        position: relative;
        display: table-column;
        top: 80vw;
    }

        
} 